.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.text-header {
  font-size: calc(70px + 2vmin);
  color: var(--light);
  font-family: 'Yellowtail';
  position: absolute;
  top: 50px;
  text-shadow: 2px 2px rgba(75,74,133,0.9)
}

.text-header span {
  font: 19px/100% 'Cutive Mono', monospace; 
  display: block;
  text-align: left; 
  margin-top: 30px; 
}