.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.text-header {
  font-size: calc(50px + 2vmin);
  color: var(--light);
  font-family: 'Yellowtail';
  position: absolute;
  top: 50px;
}

.text-header span {
  font: calc(10px + 2vmin)/120% 'Cutive Mono', monospace; 
  display: block;
  text-align: left; 
}