:root {
  --blue: #4a57a1;
  --indigo: #4b4a85;
  --purple: #90569b;
  --pink: #c25a90;
  --red: #e26873;
  --orange: #e9988b;
  --yellow: #f6c78b;
  --green: #7bba88;
  --teal: #72caaf;
  --cyan: #80c2b9;
  --primary: #5891b8;
  --secondary: #999999;
  --success: #92dda2;
  --danger: #993760;
  --warning: #f6b96b;
  --info: #8d6c9f;
  --light: #fafafa;
  --dark: #333333;
}

body {
  background-image: linear-gradient(to top right, var(--indigo), var(--pink));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}